name: Build and Test CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node_version: ['12', '14']

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node_version }}

      - run: npm cit

      - name: Retrieve information from package.json
        uses: myrotvorets/info-from-package-json-action@1.0.0
        id: ver

      - name: Fix paths in test-report.xml
        run: sed -i "s@$(pwd)@/github/workspace@g" test-report.xml
        if: ${{ matrix.node_version == '12' }}

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectName=${{ steps.ver.outputs.packageName }}
            -Dsonar.projectVersion=${{ steps.ver.outputs.packageVersion }}
            -Dsonar.links.homepage=${{ steps.ver.outputs.packageHomepage }}
            -Dsonar.links.issue=${{ steps.ver.outputs.packageBugsUrl }}
            -Dsonar.links.scm=${{ steps.ver.outputs.packageScmUrl }}
        if: ${{ matrix.node_version == '12' }}
