# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  NPM_CONFIG_FUND: '0'
  NPM_CONFIG_AUDIT: '0'
  SUPPRESS_SUPPORT: '1'
  NO_UPDATE_NOTIFIER: 'true'

jobs:
  build:
    name: Build and test (Node ${{ matrix.node.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - { name: Current,      version: current }
          - { name: LTS,          version: lts/* }
          - { name: Previous LTS, version: lts/-1 }
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            nodejs.org:443
            registry.npmjs.org:443

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@c2f2ef855b626c801b87bf3297b4a3b34f378489
        with:
          node-version: ${{ matrix.node.version }}
