# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    strategy:
      matrix:
        node:
          - '14'
          - '16'
          - '18'
    name: Build and test (Node ${{ matrix.node }})
    steps:
      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@master
        with:
          node-version: ${{ matrix.node }}
